main {
  .card-container {
    height: 475px;
    width: 635px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 215px 260px;
    grid-template-areas:
      "header header"
      "subscription explain";
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(128, 128, 128, 0.4);

    @media screen and (max-width: 768px) {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 365px;
    }

    .header {
      grid-area: header;
      @include flex;
      padding: 40px;
      background-color: white;

      @media screen and (max-width: 768px) {
        gap: 10px;
        padding: 35px 25px;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -0.3px;
        color: $cyan;
        margin-bottom: 13px;
      }
      .subtitle {
        font-size: 1.1rem;
        font-weight: 700;
        color: $brightYellow;
      }
      .text {
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 26px;
        color: $gray;
      }
    }

    .subscription {
      grid-area: subscription;
      @include flex;
      padding: 40px;
      background-color: $cyan;

      @media screen and (max-width: 768px) {
        gap: 10px;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 700;
        color: $lightGray;
      }

      .price {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 10px;

        span:first-of-type {
          font-size: 1.95rem;
          font-weight: 700;
          color: $lightGray;
        }

        span:last-of-type {
          color: $gray;
        }
      }

      .text {
        font-size: 0.975rem;
        color: $lightGray;
      }

      .btn {
        cursor: pointer;
        height: 48px;
        background-color: $brightYellow;
        border: none;
        border-radius: 6px;
        font-family: Karla;
        font-size: 1rem;
        font-weight: 700;
        color: $lightGray;
        margin-top: 20px;
        box-shadow: 0 10px 10px rgba(128, 128, 128, 0.4);
        transition: 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }

        @media screen and (max-width: 768px) {
          max-width: 210px;
        }
      }
    }

    .explain {
      grid-area: explain;
      @include flex;
      padding: 40px;
      background-color: $cyan2;

      @media screen and (max-width: 768px) {
        gap: 30px;
        padding: 35px 25px;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 700;
        color: $lightGray;
      }

      ul {
        li {
          list-style: none;
          font-size: 0.875rem;
          font-weight: 300;
          color: $lightGray;
          line-height: 20px;
        }
      }
    }
  }
}
